/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    background-color: #e2e8f0;
    line-height: 1.5;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
}

a {
    text-decoration: none;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.header {   
    border: 5px solid yellow;
    background-color: #ffffff;
    box-shadow: 3px 3px 3px gray;
    grid-column: 2 / 3;
    display: grid;
    grid-template: 0.5fr 0.5fr / 2fr 1fr;
    justify-items: center;
    align-items: center;
    padding: 1em 2em;
}

.header div {
    display: flex;
    align-items: center;
}

.header .search,
.header .profile {
    align-self: start;
}

.header .search,
.header .welcome {
    justify-self: start;
}

.header .search {
    width: 80%;
    gap: 18px;
}

.header .search input {
    border: none;
    background-color: #e2e8f0;
    outline-color: #bfdbfe;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    width: min(100%, 50vw);
}

.header .avatar {
    gap: 18px;
}

.header .welcome {
    display: grid;
    grid-template: auto auto / 100px 2fr;
}

.header .welcome img {
    grid-row: 1 / 3;
}

.header p {
    align-self: end;
}

.header h2 {
    font-size: 30px;
    align-self: start;
}

.nav {
    background-color: #1992d4;
    grid-row: 1 / 4;
    display: grid;
    gap: 50px;
}

.nav a, 
.nav i {
    color: #ffffff;
}

.content-wrapper {
    display: grid;
}